* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: aquamarine;
  color:#ffffff;
  justify-content: space-evenly;
  width: 100%; 
  height: 80px;
  line-height: 30px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 20px;
}

/* what is the relation between header, title and hero-banner? having some issues with their alignment */

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: black;
  line-height: 20px;
  font-size: 20px;
  padding: 14px 16px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: +1;
}


/* this stying is for all the links on the site, must appear in this order */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: pink;
}

a:active {
  text-decoration: none;
}

/*adjust position so that it shows when at the top of the page*/

.page-wrapper {
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}


p, body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  margin-bottom: 15px;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: Gill 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}

h3 {
  padding: 30px;
  background-color: rgba(138, 44, 226,0.7);
  border-bottom: 5px solid rgba(138, 44, 226,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
}

.portfolioContainer {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.4fr 1.4fr;
  grid-template-areas:
    "about-me about about"
    "work HeroProject HeroProject"
    "space project-2 project-3"
    "space project-4 project-5"
  ;
}

.hero-banner, img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-style: groove;
  border-color: black;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  position: relative;
  z-index: -1;
 }

 .hero-banner-text {
  height: 40px;
  width: 100%;
  background-color: blueviolet;
 }

 /* need to edit colors and formatting for variables */

.about-me {
  grid-area: about-me
}

.about {
  grid-area: about;
}

.HeroProject {
  grid-area: HeroProject;
}

.space {
  grid-area: space;
}

.project-2 {
  grid-area: project-2;
}

.project-3 {
  grid-area: project-3;
}

.project-4 {
  grid-area: project-4;
}

.project-5 {
  grid-area: project-5;
}

.about {
  grid-area: about;
}

.footer {
  display: flex;
  background-color: aquamarine;
}